
/* font styles */

@font-face {
    font-family: 'Minecraft';
    src: url('assets/minecraft.ttf');
}

.shadow {
    text-shadow: 3px 3px #3F3F3F;
}

.dark-shadow {
    text-shadow: 3px 3px #2A2A2A;
}

/* global styles */

* {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

:root {
    --btn-size: 30px;
}

/* top-navigation styles */

.top-bar {
    width: 100%;
    z-index: 100;
    position: sticky;
    top: 0;
    box-shadow: black 0px 7px 10px 0px;
}

.middle-bar-1 {
    width: 100%;
    padding-top: 10px;
    /* padding-bottom = height of .buttons-bar2x1 with 1 row of buttons + 10px */
    padding-bottom: calc(105px + 10px);
    min-height: calc(100vh - 10px - 105px - 10px - 70px);
}

.middle-bar-2 {
    width: 100%;
    padding-top: 10px;
    /* padding-bottom = height of .bottom-bar4x2 with 2 rows of buttons + 10px */
    padding-bottom: calc(160px + 10px);
    min-height: calc(100vh - 10px - 170px - 10px - 86px);
}

.bottom-bar-2x1 {
    box-shadow: black 0px -7px 10px 0px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
    column-gap: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 60px);
    z-index: 100;
    background-position: right 10px bottom 10px;
}

.bottom-bar-4x2 {
    box-shadow: black 0px -7px 10px 0px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 60px);
    z-index: 100;
    background-position: right 10px bottom 10px;
}

/* tag styles */

body {
    font-family: 'Minecraft', Tahoma;
    font-size: 16px;
    font-smooth: never;
    -webkit-font-smoothing : none;
    color: white;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

input {
    background-color: black;
    text-shadow: 3px 3px #2A2A2A;
    color: #CCCCCC;
    border: 2px solid rgb(166, 166, 166);
    font-family: 'Minecraft', Tahoma;
    font-size: 16px;
    padding: 5px 10px;
    outline: none;
}
input.wide {
    width: calc(100% - 20px);
}
input[value=""] {
    text-shadow: 3px 3px #151515;
    color: #555555;
}

button {
    font-family: 'Minecraft', Tahoma;
    font-size: 16px;
    color: white;
    text-shadow: 3px 3px #3F3F3F;
	height: 45px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
    text-align: center;
	background: #999 url('assets/bgbtn.png') center / cover;
	border: 2px solid #000;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}

button.disabled {
    box-shadow: none;
    pointer-events: none;
}

button.disabled span {
    background-color: rgba(0, 0, 0, .55);
    color: #AAA;
}

button span {
    width: 100%;
    height: calc(100% - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

button:hover {
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}

button:hover span {
    background-color: rgba(100, 100, 255, .45);
}

button:active span {
	position: relative;
	top: 1px;
	left: 1px;
}

/* saves-screen styles */

#saves-search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#saves-search-bar input {
    margin-top: 10px;
}

#saves-search {
    width: calc(100% - 140px);
}

#saves-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#saves-button-play {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#saves-button-new {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* individual save styles */

.save {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    padding-left: 8px;
    padding-right: 30px;
    user-select: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    margin: 6px 3px;
}
.save.selected {
    margin: 3px 0px;
    border: solid 3px lightgray;
}
.save.online {
    background: url("assets/online.png");
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: 30px 21px;
    background-position: right 10px top 10px;
}
.save.offline {
    background: url("assets/offline.png");
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: 30px 21px;
    background-position: right 10px top 10px;
}
.save.loading {
    background: url("assets/loading.png");
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: 30px 21px;
    background-position: right 10px top 10px;
}
.save img {
    width: 64px;    
    height: 64px;
    margin-right: 10px;
}
.save-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.save-line-1 {
    margin-right: 15px;
}
.save-line-2, .save-line-3 {
    color: #CCCCCC;

}

/* create-screen styles */

#create-screen-title {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 25px;
}

#create-input-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

#create-input-area p {
    margin-top: 20px;
    width: 100%;
}
.create-input-version-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.create-input-version-area input {
    flex-grow: 1;
    margin-right: 20px;
}
.create-input-version-area button {
    width: 45px;
}
.create-input-version-area button span img {
    width: 24px;
    height: 24px;
}

/* modify-screen styles */

#modify-screen-title {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 25px;
}

#modify-input-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

#modify-input-area p {
    margin-top: 20px;
    width: 100%;
}

/* delete-screen styles */

#delete-screen-title {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 25px;
}

#delete-message-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

/* useful classes */

.dirt {
    background-image: url('assets/dirt.png');
    background-repeat: repeat;
    background-size: 64px 64px;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.dirt.dark {
    background-image: url('assets/dirt-dark.png');
}

.hide {
    display: none !important;
}

.wide {
    width: 100%;
}
